@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(180, 180, 180);
    border-radius: 2px;
  }
  

  ::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 2px;
  }

header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    padding: 0 10dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#logo {
    transition: .3s;
}

#logo img {
    width: 80px;
}

nav a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px;
    padding: 3px;
}

nav a.colored {
    color: orange;
}

#hamburger {
    display: none;
}

section {
    position: relative;
    z-index: 99;
    display: flex;
}

#home {
    position: relative;
    height: 100dvh;
    max-width: 100dvw;
    padding: 80px 0 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    overflow: hidden;
}

#home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 4em;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.24);
}

#home_container h2 {
    font-size: 3.5em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
}

#home_container h2 span {
    color: orange;
}

#home img {
    height: 50dvh;
}

#projects_button {
    font-size: 1.5em;
    font-weight: 900;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 25px;
    color: black;
    background-color: orange;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.24);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .5s;
}

#about {
    height: 100dvh;
    overflow: hidden;
    width: 100%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20vw;
}

#about h1, #projects h1, #contact h1 {
    color: orange;
    text-shadow: 1px 1px 3px #000;
    margin-bottom: 20px;
}

#about h1 {
    margin-top: 150px;
}

#about p {
    height: 70%;
    margin: 20px;
    font-size: 1.8em;
    letter-spacing: 3px;
}

#projects {
    top: 80px;
    height: 100dvh;
    overflow: hidden;
    width: 100%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
}

#projects_container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.project {
    width: 25vw;
    height: 25vw;
    border-radius: 20%;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .3s;
}

#poolsystem {
    background-image:url(/assets/img/Andrea_Battista_Arduino_Project_Logo.jpg);
}

#freeforex{
    background-image: url();
}

#inoutflow {
    background-image: url(/assets/img/Andrea_Battista_Management_Software_Logo.png);
}



#contact {
    background-color: white;
    width: 100%;
    height: calc(100dvh - 80px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contacts h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    display: flex;
    text-align: center;
}

.mail__form{
    background-color: orange;
    text-align: center;
    padding: 40px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail__form h2 {
    color: white;
}

input, textarea {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.social__link__container {
    margin-top: 20px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.social__link{
    font-size: 4em;
}

.bxl-github {
    color: black;
}

.bxl-linkedin {
    color: orange;
}

.bxl-instagram-alt {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}



@media screen and (max-width: 768px) {
    header {
        padding: 0 5vh;
    }
    
    #hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        background-color: white;
        transition: 0.3s;
        cursor: pointer;
    }

    #hamburger span{
        content: "";
        height: 4px;
        width: 40px;
        background-color: black;
        margin: 5px 0;
        transition: .2s;
        border-radius: 99px;
    }

    #hamburger.active span{
        margin: 0;
    }
    
    #hamburger.active span:first-child {
        width: 20px;
        transform: translateY(-2px) translateX(15px) rotate(45deg);
        transition: .2s;
    }
    
    #hamburger.active span:last-child {
        width: 20px;
        transform: translateY(2px) translateX(15px) rotate(-45deg);
        transition: .2s;
    }

    nav {
        position: absolute;
        z-index: 100;
        top: 80px;
        right: -100%;
        height: calc(100vh - 80px);
        width: 100dvw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: 1s, opacity 0.1s, transform 0.5s;
        background-color: white;
        opacity: .9;
    }

    nav a {
        font-size: 3em;
        margin: 20px 0;
        transition: all 1s;
    }

    
    nav.active {
        right: 0;
        transform: translateX(0);
    }

    #home_container {
        margin-top: 10px;
    }
    
    h1 {
        font-size: 2.8em;
        text-align: center;
    }
    
    #home_container h2 {
        font-size: 2em;
    }
    
    #home img {
        height: 50vh;
        margin-bottom: 40px;
    }
    
    #projects_button {
        font-size: 1em;
    }

    #about {
        padding: 0 15vw;
    }

    #about p {
        width: 100%;
        margin: 5px;
        font-size: 2.5vh;
        letter-spacing: 1px;
    }

    #project h1 {
        margin-top: 30px;
    }

    #projects_container {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 30vh;
        height: 30vh;
        margin: 10px;
    }

}

@media screen and (max-width: 640px) {
    form {
        width: 250px;
    }
    
    .social__link__container {
        width: 250px;
    }
}

@media screen and (max-width: 480px) {
    .mail__form {
        padding: 25px;
    }

    form {
        width: 200px;
    }
    
    .social__link__container {
        width: 200px;
    }
}

@media (hover: hover), (-ms-high-contrast:none) {
     #logo:hover {
        transform: scale(1.2);
        transition: .3s;
     }
    .underline {
        position: relative;
        display: inline-block;
    }
    
    .underline::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: orange;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .underline:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      #projects_button:hover {
        opacity: .8;
        transition: .5s;
    }

    .project:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 20px 50px;
        transform: scale(1.01);
        transition: .3s;
    }
  }